## Visual Studio Ignore Rules
.vs/
[Bb]in/
[Oo]bj/
[Tt]est[Rr]esults/
packages/

## User-specific files
*.user
*.userosscache
*.sln.doccache
*.suo
*.userprefs

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/

## Others
*.log
Thumbs.db
.DS_Store
node_modules/
dist/
nuget.exe

